<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
  <a href="{% url 'catalog:index' %}">Go to Main</a><br>

      <p>Average authors age: {{ aggr_values.age__avg }}</p>
      <p>Oldest book in collection: {{ aggr_values.books__pubdate__min}}</p>


  <span>All authors:</span>

  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Books</th>
  </tr>
  {% for author in authors %}
  <tr>
    <td>
        <a href="{% url 'catalog:author_details' pk=author.id %}">{{ author.name }}</a>
    </td>
    <td>{{ author.age }}</td>
    <td>
        {% for book in author.books.all %}
          {{ book.name }}
        {% empty %}
          <span>No books for this author</span>
        {% endfor %}
    </td>
  </tr>
   {% endfor %}
</table>
</body>
</html>