<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <span>Details for {{ book.name }}</span>
  <ul>
      <li>Name: {{ book.name }} </li>
      <li>Pages: {{ book.pages }}</li>
      <li>Price: {{ book.price }}</li>
      <li>Rating: {{ book.rating }}</li>
      <li>Authors:
      {% for author in book.authors.all %}
         {{ author.name }}
      {% endfor %}
      </li>
      <li>Publisher: {{ book.publisher }}</li>
      <li>Pubdate: {{ book.pubdate }}</li>
  </ul>

  <a href="{% url 'catalog:book_update' pk=book.id %}">Update book {{ book.name }}</a><br>
  <a href="{% url 'catalog:book_delete' pk=book.id %}">Delete book {{ book.name }}</a><br>
  <a href="{% url 'catalog:books' %}">Go to books list</a><br>
  <a href="{% url 'catalog:index' %}">Go to Main</a>
</body>
</html>