<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <span>Details for {{ publisher.name }}</span>
  {% if publisher.average_rating %}
      <p>Books average rating for {{ publisher.name }}: {{ publisher.average_rating|floatformat:2 }}</p>
  {% else %}
      <p>There is no average book rating for {{ publisher.name }}</p>
  {% endif %}
  <ul>
      <li>Name: {{ publisher.name }} </li>
       <li>Books:
      {% for book in publisher.books.all %}
         {{ book }}{% if not forloop.last %}, {% endif %}
      {% empty %}
         No books for this publisher
      {% endfor %}
      </li>
  </ul>

  <a href="{% url 'catalog:publishers' %}">Go to publishers list</a><br>
  <a href="{% url 'catalog:index' %}">Go to Main</a>
</body>
</html>