<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
  <a href="{% url 'catalog:index' %}">Go to Main</a><br>

  <span>All publishers:</span>

  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Books</th>
  </tr>
  {% for publisher in publishers %}
  <tr>
    <td><a href="{% url 'catalog:publisher_details' pk=publisher.id %}">{{ publisher.name }}</a></td>
    <td>
        {% for book in publisher.books.all %}
          {{ book.name }}
        {% empty %}
          <span>No books</span>
        {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </table>
</body>
</html>