<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <span>Details for {{ store.name }}</span>
  <ul>
      <li>Name: {{ store.name }} </li>

      {% if store.average_price %}
        <li>Average price in this store: {{ store.average_price|floatformat:2 }}</li>
      {% endif %}
      <li>Books:
      {% for book in store.books.all %}
         {{ book.name }}
      {% empty %}
          <span>No books in this store</span>
      {% endfor %}
      </li>
  </ul>

  <a href="{% url 'catalog:stores' %}">Go to stores list</a><br>
  <a href="{% url 'catalog:index' %}">Go to Main</a>
</body>
</html>